@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  background-color: green;
}

.card {
  background-color: rgb(255, 255, 255) ff;
  width: 250px;
  height: 400px;
  display: flex;
}

.center {
  margin: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.numbertop {
}

.imgcontainer {
  display: flex;
  height: 80%;
}

.suit {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.numberbottom {
  margin-right: 2px;
}
